.field {
    border: 1px solid Grey;
    border-radius: 5px;
    width: 342px;
    margin: 15px 0;
    height: 32px;
};

.fieldBox {
    display: flex;
    flex-direction: column;
    background: red;
}

.label_text {
    color: #374151;
}