.formBox {
    background: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
}
.form {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
}


.date {
    display: flex;
    flex-direction: column;
}

.date input {
    height: 40px;
    border: 1px solid Grey;
    color: #374151;
    padding: 3px 5px;
    margin-top: 5px;
}

.passengers_count {
    border: 1px solid #E5E7EB;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.passengers_count button {
    background: #7786D2;
    border-radius: 4px;
    border: none;
    color: #FFFF;
    width: 21px;
    height: 21px;
    margin:  3px 15px;
}

.submit_button {
    background: black;
    color: #FFFF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    width: 72px;
    text-align: center;
    padding: 5px 0;
}

.add_destionation_button {
    color: #7786D2;
    font-size: 12px;
    border: none;
    margin:  20px 0;
}

input:required {
    border-color: red;
}
